<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.vilderlee.mongodb.mapper.UserBuyDao">


    <insert id="insertUserOrder" parameterType="com.vilderlee.mongodb.domain.dto.UserOrder">
        INSERT INTO `userOrder` (SystemNo, UserID, OrderID)
        VALUES (#{systemNo}, #{userID}, #{orderID});
    </insert>
</mapper>